/* =========================================
  VARIABLES
======================================== */


/* =========================================
  MIXINS
======================================== */

@mixin button {
	cursor:pointer;
}

/* =========================================
  FONTS
======================================== */

@font-face {
    font-family: 'Courtney-Dorkling';
    src: url('../fonts/courtneydorkling.ttf') format('truetype');
}