* {
	padding:0;
	margin:0;
	font-family:Arial,sans-serif;
}

body {
	background:url('../img/woodgrain.jpg');
}

.layout-container {
	position:absolute;
	width:100%;
	height:100%;
	overflow:hidden;
}

.layout-polaroids {
	position:relative;
	margin:auto;
	width:80%;
	height:100%;
	padding-top:30px;
}

.polaroid {
	position:absolute;
	display:inline-block;
	width:254px;
	height:278px;
	background:url('../img/polaroid.png');
	-webkit-box-shadow:  2px 2px 4px 0px rgba(0, 0, 0, .3);
	box-shadow:  2px 2px 4px 0px rgba(0, 0, 0, .3);
	img {
		position:relative;
		margin:16px 0px 0px 15px;
	}
	.polaroid-details {
		position:absolute;
		z-index:5;
		&.title {
			top:40px;
			left:3px;
		}
		&.date {
			top:70px;
			left:14px;
		}
	}
	&.description {
		p {
			position:absolute;
			z-index:2;
			font-size:13px;
			color:#FFF;
			margin:162px auto 0px 27px;
			text-shadow: 0px 0px 3px rgba(0,0,0, 0.75);
		}
	}
	&.date {
		p {
			width:220px;
			font-family:'Courtney-Dorkling',sans-serif;
			color:#3a3a3a;
			font-size:11px;
			position:absolute;
			letter-spacing:1px;
			&.line1 {
				top:235px;
				left:20px;
			}
			&.line2 {
				bottom:10px;
				right:20px;
				text-align:right;
			}
		}
	}
}

.layout-invitation {
	background:url('../img/invitation_bg.jpg');
	position:absolute;
	z-index:20;
	bottom:0px;
	left:0px;
	padding:30px;
	color:$grey-color;
	-webkit-box-shadow: inset 0px 0px 22px 0px rgba(0, 0, 0, .22); 
	box-shadow: inset 0px 0px 22px 0px rgba(0, 0, 0, .22);
	h1 {
		@include Helvetica-Neue-Condensed;
		font-weight:700;
	}
	p {
		font-family:Arial, sans-serif;
		font-size:12px;
		width:75%;
		position:relative;
		line-height:23px;
		margin-top:10px;
	}
	/** for outter shadow **/
	&:after {
		position:absolute;
		z-index:-1;
		width:100%;
		height:100%;
		text-indent:-9999px;
		content:" ";
		top:0px;
		left:0px;
		-webkit-box-shadow:  0px 0px 30px 0px rgba(0, 0, 0, .5);
        box-shadow:  0px 0px 30px 0px rgba(0, 0, 0, .5);
	}
}

a {
	&.invitation-btn {
		display:inline-block;
		margin:15px 10px 0px 0px;
		color:#FFF;
		@include Helvetica-Neue-Condensed;
		font-weight:300;
		text-decoration:none;
		background:$grey-color;
		padding:10px 30px;
		-webkit-border-radius:3px;
		border-radius:3px;
		&:hover, &.active {
			background:#f7923a;
		}
	}
}