* {
	padding:0;
	margin:0;
	font-family:Arial,sans-serif;
}

body {
	background:url('../img/woodgrain.jpg');
}

.layout-container {
	
}

.layout-polaroids {
	
}

.polaroid {
	position:relative;
	width:254px;
	height:278px;
	background:url('../img/polaroid.png');
	-webkit-box-shadow:  2px 2px 4px 0px rgba(0, 0, 0, .3);
	box-shadow:  2px 2px 4px 0px rgba(0, 0, 0, .3);
	img {
		position:relative;
		margin:16px 0px 0px 15px;
	}
	.polaroid-details {
		position:absolute;
		z-index:5;
		&.title {
			top:40px;
			left:3px;
		}
		&.date {
			top:70px;
			left:14px;
		}
	}
	&.description {
		p {
			position:absolute;
			z-index:2;
			font-size:13px;
			color:#FFF;
			margin:155px auto 0px 27px;
			text-shadow: 0px 0px 3px rgba(0,0,0, 0.75);
		}
	}
	&.date {
		p {
			width:220px;
			font-family:'Courtney-Dorkling',sans-serif;
			color:#3a3a3a;
			font-size:11px;
			position:absolute;
			letter-spacing:1px;
			&.line1 {
				top:235px;
				left:20px;
			}
			&.line2 {
				bottom:10px;
				right:20px;
				text-align:right;
			}
		}
	}
}

.layout-invitation {
	background:url('../img/invitation_bg.jpg');
	width:580px;
	position:absolute;
	bottom:0px;
	left:0px;
	-webkit-box-shadow: inset 0px 0px 22px 0px rgba(0, 0, 0, .22); 
	box-shadow: inset 0px 0px 22px 0px rgba(0, 0, 0, .22);
}