/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

/** MOBILE **/
@media screen and (min-width: 320px) {
    .layout-container {
        overflow:auto;
    }
    .layout-rsvp {
        position:fixed;
        right:10px;
        top:10px;
    }
    .layout-polaroids {
        text-align:center;
    }
    .polaroid {
        position:relative;
        margin:5px;
        &.boot, &.person {
            display:none;
        }
    }
    .layout-invitation {
        top:330px;
        bottom:auto;
        text-align:center;
        display:none;
        h1 {
            font-size:40px;
        }
        p {
            width:100%;
            font-size:18px;
            text-align:left;
        }
        .invitation-response {
            font-size:16px;
        }
    }
    a {
        &.invitation-btn {
            margin-top:30px;
            text-align:center;
            width:auto;
        }
    }
}

/** TABLET **/
@media screen and (min-width: 768px) {
    .layout-container {
        overflow-x:hidden;
    }
    .layout-polaroids {
        width:100%;
        text-align:left;
    }
    .polaroid {
        position:absolute;
        &.boot, &.person {
            display:block;
        }
    }
    .layout-invitation {
        width:580px;
        top:330px;
        left:50%;
        margin-left:-320px;
        display:block;
        h1 {
            text-align:center;
            font-size:50px;
        }
        p {
            width:100%;
            font-size:16px;
            text-align:left;
        }
        .invitation-response {
            font-size:16px;
        }
    }
    a {
        &.invitation-btn {
            text-align:center;
            width:223px;
            margin-top:15px;
        }
    }
    .polaroid {
        &.title {
            transform:rotate(1deg);
            -ms-transform:rotate(1deg);
            -webkit-transform:rotate(1deg);
        }
        &.description {
            left:48%;
            margin-left:-125px;
            transform:rotate(-1deg);
            -ms-transform:rotate(-1deg);
            -webkit-transform:rotate(-1deg);
        }
        &.date {
            right:20px;
            transform:rotate(5deg);
            -ms-transform:rotate(5deg);
            -webkit-transform:rotate(5deg);
        }
        &.boot {
            bottom:-30px;
            left:-50px;
            transform:rotate(8deg);
            -ms-transform:rotate(8deg);
            -webkit-transform:rotate(8deg);
        }
        &.person {
            right:-40px;
            bottom:-90px;
            transform:rotate(-12deg);
            -ms-transform:rotate(-12deg);
            -webkit-transform:rotate(-12deg);
        }
    }
}

/** DESKTOP **/
@media screen and (min-width:960px) {
    .layout-container {
        overflow:hidden;
    }
    .layout-polaroids {
        width:80%!important;
    }
    .layout-invitation {
        position:absolute;
        width:580px;
        bottom:0px;
        left:0px;
        top:auto;
        margin-left:0px;
        text-align:left;
        h1 {
            font-size:30px;
            text-align:left;
        }
        p {
            width:75%;
        }
        .invitation-response {
            font-size:14px;
        }
    }
    a {
        &.invitation-btn {
            text-align:center;
            width:auto;
        }
    }
    .polaroid {
        &.title {
            transform:rotate(1deg);
            -ms-transform:rotate(1deg);
            -webkit-transform:rotate(1deg);
        }
        &.description {
            left:50%;
            margin-left:-125px;
            transform:rotate(-1deg);
            -ms-transform:rotate(-1deg);
            -webkit-transform:rotate(-1deg);
        }
        &.date {
            right:0px;
            transform:rotate(5deg);
            -ms-transform:rotate(5deg);
            -webkit-transform:rotate(5deg);
        }
        &.boot {
            bottom:-100px;
            left:50%;
            transform:rotate(8deg);
            -ms-transform:rotate(8deg);
            -webkit-transform:rotate(8deg);
        }
        &.person {
            bottom:-80px;
            left:90%;
            transform:rotate(-12deg);
            -ms-transform:rotate(-12deg);
            -webkit-transform:rotate(-12deg);
        }
    }
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
